 <ion-list inset="true">
    <ion-item color="light">
      <ion-label>Add list Product name</ion-label>
      <ion-button slot="end" (click)="addListProduct()">Add list Product</ion-button>
    </ion-item>

     <ion-item color="light">
      <ion-label>Add category name</ion-label>
      <ion-button slot="end" (click)="addCategory()">Add category</ion-button>
    </ion-item>

     <ion-item color="light">
      <ion-label>Add product name</ion-label>
      <ion-button slot="end" (click)="addProduct()">Add product</ion-button>
    </ion-item>


  </ion-list> 
