<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center" color="primary"> ASR Works </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" mode="ios">
  <ion-searchbar (ionInput)="searchTerm($event)" placeholder="Search history..."></ion-searchbar>
  <ion-item-divider>
    <ion-label class="bold-label">History</ion-label>
    <ion-label class="bold-label" slot="end">Total: {{ filterHistories.length }}</ion-label>
  </ion-item-divider>

  <ion-list inset="true">
    @for(history of filterHistories; track history) { @if(history?.name) {
    <ion-item>
      <ion-label class="ion-text-capitalize">
        <h2>{{ history?.name || 'Unnamed PDF' }}</h2>
      </ion-label>
      <ion-button size="small" name="eye-outline" (click)="previewPDF(history)"
        class="ion-activatable hydrated">Preview</ion-button>

      <ion-icon name="trash-outline" slot="end" class="ion-margin-start" size="small" color="danger"
        (click)="alertDeleteProduct(history)"></ion-icon>
    </ion-item>
    } }
    @if (!isLoading && !filterHistories.length) {
    <ion-item>
      <ion-label class="ion-text-center">
        <h2>No history found</h2>
      </ion-label>
    </ion-item>
    }

  </ion-list>
</ion-content>