<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center" color="primary">ASR Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <ion-searchbar (ionInput)="searchTerm($event)" placeholder="Search products..."></ion-searchbar>

  <ion-item-divider>
    <div class="ion-text-capitalize"> 
      <ion-label >{{history?.name}}</ion-label>
      <ion-label class="mt-10" >Total: {{ history?.saveProducts?.length }}</ion-label>
    </div>
    <div slot="end">
      <ion-button  color="primary" size="small" (click)="updateProducts()"  >Add Products</ion-button>
    </div>
  </ion-item-divider>

  <ion-list inset="true">
    @for(history of filteredHistory?.saveProducts; track $index){
    <ion-item>
      <ion-label class="ion-text-capitalize">{{history.productName}}
        @if(history?.size){
        <span>{{history?.size}}</span>
        }
      </ion-label>
      <p slot="end">Qty: <span>{{history?.quantity}}</span></p>
    </ion-item>
    }
  </ion-list>
</ion-content>