<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary"> ASR Works </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" mode="ios">
  <ion-searchbar (ionInput)="searchTerm($event)" placeholder="Search products..."></ion-searchbar>

  <ion-item-divider>
    <ion-label class="bold-label">All Products</ion-label>
    <ion-label class="bold-label" slot="end">Total: {{filteredProducts.length}}</ion-label>
  </ion-item-divider>

  <ion-list [inset]="true" >
    @for (product of filteredProducts; track $index)  {
    @if (product.fileSize?.length) {
    @for (size of product.fileSize; track $index) {
    <ion-item>
      @if(isEditing[product.productName + size]){
      <ion-input [(ngModel)]="inputValues[product.productName + size]"></ion-input>
      }@else {
      <ion-label>
        <div class="product-title ion-text-capitalize">{{ product.productName }} {{size}}</div>
      </ion-label>
      }
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="toggleEdit(product , size)">
          <ion-icon name="create-outline" slot="start"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="alertDeleteProduct(product,size)" size="small">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    }
    } @else {
    <ion-item>
      @if(isEditing[product.productName]){
      <ion-input [(ngModel)]="inputValues[product.productName]"></ion-input>
      }@else {
      <ion-label>
        <div class="product-title ion-text-capitalize">{{ product.productName }}</div>
      </ion-label>
      }
      <ion-buttons slot="end">

        <ion-button color="primary" (click)="toggleEdit(product, '')">
          <ion-icon name="create-outline" slot="start"></ion-icon>
        </ion-button>

        <ion-button color="danger" (click)="alertDeleteProduct(product, '')" size="small">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    }
    }@if(!loading && filteredProducts.length === 0){
      <ion-item>
        <ion-label>No products available</ion-label>
      </ion-item>
    }
     
    
  </ion-list>



</ion-content>