<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>ASR-Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid class="ion-justify-content-center h-100">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title color="primary">Add New Product</ion-card-title>
            <ion-card-subtitle>Enter product details</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
              <!-- Product Name -->
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-label position="stacked"
                  >Product Name <ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="name"
                  placeholder="Enter product name"
                ></ion-input>
              </ion-item>

              <!-- Product Type -->
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-label position="stacked">Product Type</ion-label>
                <ion-select
                  formControlName="product"
                  interface="action-sheet"
                  placeholder="Select product type"
                >
                  <ion-select-option value="switch">Switch</ion-select-option>
                  <ion-select-option value="wood">Wood Board</ion-select-option>
                  <ion-select-option value="light">Lights</ion-select-option>
                  <ion-select-option value="wire">Wire</ion-select-option>
                  <ion-select-option value="sheet"
                    >Board Sheets</ion-select-option
                  >
                  <ion-select-option value="trip">Trip</ion-select-option>
                </ion-select>
              </ion-item>

              <!-- Product Size -->
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-label position="stacked">Size</ion-label>
                <ion-input
                  formControlName="size"
                  placeholder="Enter size "
                ></ion-input>
              </ion-item>

              <!-- Save Button -->
              <ion-button
                expand="block"
                type="submit"
                color="primary"
                shape="round"
                class="ion-margin-top"
                [disabled]="productForm.get('name')?.invalid"
              >
                
                Save
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
