<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">ASR Works</ion-title>
    <ion-button slot="end" size="small" (click)="goToNext()" color="primary" [disabled]="!listSelectedProducts.length"
      class="dark-text-toggle">
      Next
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <ion-row class="align-items-center">
    <ion-col size="11">
      <ion-searchbar show-clear-button="always" placeholder="Search products..." (ionInput)="onSearchChange($event)"
        mode="ios">
      </ion-searchbar>
    </ion-col>
    <ion-col size="1" class="d-flex justify-content-center">
      <ion-button fill="clear" class="mt-10" (click)="presentViewOptions()">
        <ion-icon class="fs-25" name="funnel-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  @if(listOpen) {
  @for(category of uniqueCategories; track category) {
  <ion-item-divider>
    <label class="ion-text-capitalize"> {{ category }}</label>
  </ion-item-divider>

  <ion-list class="br-10" inset="true">
    <ng-container *ngFor="let product of getProductsByCategory(category)">
      <ion-item color="light">
        <ion-label class="ion-text-capitalize">
          {{ product.productName }}
        </ion-label>

        <ion-select slot="end" interface="popover" placeholder="Choose Size" multiple="true"
          *ngIf="product?.fileSize?.length" [(ngModel)]="selectedsize[product.productName]"
          (ionChange)="onSizeChange(product)">
          <ion-select-option *ngFor="let size of product.fileSize" [value]="size">
            {{ size }}
          </ion-select-option>
        </ion-select>

        <ion-checkbox class="ion-margin-start" [checked]="isChecked(product)" (ionChange)="onChange($event, product)"
          slot="end"
          [disabled]="product?.fileSize?.length &&  (!selectedsize[product.productName] || selectedsize[product.productName].length === 0)">
        </ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>
  } @empty {
  <ion-item lines="none">
    <ion-label class="ion-text-center">No products added yet</ion-label>
  </ion-item>
  }
  }
  <ng-container *ngIf="accordionOpen" mode="ios">
    <ion-accordion-group multiple="true">
      <ion-accordion *ngFor="let category of uniqueCategories">
        <ion-item slot="header" color="light">
          <ion-label>{{ category }}</ion-label>
        </ion-item>

        <ng-container *ngFor="let product of getProductsByCategory(category)">
          <div class="p-10" slot="content">
            <div *ngIf="product?.fileSize?.length <= 3; else manyChips" style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 8px;
              ">
              <div style="
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  gap: 8px;
                ">
                <span>{{ product.productName }}</span>
                <ng-container *ngFor="let size of product.fileSize">
                  <ion-chip class="ms-1">{{ size }}</ion-chip>
                </ng-container>
              </div>

              <ion-checkbox [checked]="isChecked(product)" (ionChange)="onChange($event, product)"
                [disabled]="product?.fileSize?.length && !product?.selectedSizes?.length"></ion-checkbox>
            </div>

            <ng-template #manyChips>
              <div style="
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                ">
                <span>{{ product.productName }}</span>

                <ion-checkbox [checked]="isChecked(product)" (ionChange)="onChange($event, product)"
                  [disabled]="product?.fileSize?.length && !product?.selectedSizes?.length"></ion-checkbox>
              </div>

              <div class="mt-2 d-flex flex-wrap gap-2">
                <ion-chip *ngFor="let size of product.fileSize" class="ms-1">
                  {{ size }}
                </ion-chip>
              </div>
            </ng-template>
          </div>
        </ng-container>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
</ion-content>