<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> ASR-Works </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar show-clear-button="always" value=""></ion-searchbar>
  <h1>Electrical Product List</h1>

  <ion-accordion-group [multiple]="true" >
    <ion-accordion value="one">
      <ion-item slot="header" color="light">
        <ion-label>Switch</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Switch
        <ion-chip class="small-chip">5A</ion-chip>
        <ion-chip class="small-chip">15A</ion-chip>
        <ion-chip class="small-chip">20A</ion-chip>
        <ion-chip class="small-chip">20A</ion-chip>
        <ion-chip class="small-chip">2-Way</ion-chip>
      </div>
      <div class="ion-padding" slot="content">Switch Dummy</div>
      <div class="ion-padding" slot="content">Switch Bell</div>
      <div class="ion-padding" slot="content">DP Switch</div>
      <div class="ion-padding" slot="content">Fan Dimmer</div>
      <div class="ion-padding" slot="content">Indicater</div>
      <div class="ion-padding" slot="content">4 in 1 power Socket</div>
      <div class="ion-padding" slot="content">Plug<ion-chip>2pin</ion-chip>
        <ion-chip>3pin</ion-chip><ion-chip>5pin</ion-chip><ion-chip>USB</ion-chip></div>
      
      
    </ion-accordion>
    <ion-accordion value="two">
      <ion-item slot="header" color="light">
        <ion-label>Trip</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">MCB
      <ion-chip>10A</ion-chip>
      <ion-chip>16A</ion-chip>
      <ion-chip>20A</ion-chip>
      <ion-chip>25A</ion-chip>
      <ion-chip>32A</ion-chip>
      </div>
      <div class="ion-padding" slot="content">ELCB
        <ion-chip>10A</ion-chip>
      <ion-chip>16A</ion-chip>
      <ion-chip>20A</ion-chip>
      <ion-chip>25A</ion-chip>
      <ion-chip>32A</ion-chip>
      </div>
    </ion-accordion>
    <ion-accordion value="three">
      <ion-item slot="header" color="light">
        <ion-label>Wire</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Wire
        <ion-chip>1-QM</ion-chip>
        <ion-chip>1.5-QM</ion-chip>
        <ion-chip>2.5-QM</ion-chip>
        <ion-chip>4-QM</ion-chip></div>
      <div class="ion-padding" slot="content">Speaker Wire</div>
    </ion-accordion>
    <ion-accordion value="four">
      <ion-item slot="header" color="light">
        <ion-label>Lights</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Tube Light LED</div>
      <div class="ion-padding" slot="content">LED Bulb
        <ion-chip>9W</ion-chip>
        <ion-chip>12W</ion-chip>
      </div>
      <div class="ion-padding" slot="content">Small LED Colour Bulb</div>
      <div class="ion-padding" slot="content">Spot Light
        <ion-chip>White</ion-chip>
        <ion-chip>W-White</ion-chip>
        <ion-chip>Blue</ion-chip>
        <ion-chip>Green</ion-chip>
        <ion-chip>Pink</ion-chip>
      </div>
      <div class="ion-padding" slot="content">Footlamb Light-4model</div>
      <div class="ion-padding" slot="content">Gate Light</div>
    </ion-accordion>
    <ion-accordion value="five">
      <ion-item slot="header" color="light">
        <ion-label>Wood Board</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Board
        <ion-chip>12*4</ion-chip>
        <ion-chip>10*6</ion-chip>
        <ion-chip>10*4</ion-chip>
        <ion-chip>8*4</ion-chip>
        <ion-chip>6*4</ion-chip>
        <ion-chip>4*4</ion-chip>
      </div>

    </ion-accordion>
    <ion-accordion value="six">
      <ion-item slot="header" color="light">
        <ion-label> Board Sheets</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Sheet
        <ion-chip>12*4</ion-chip>
        <ion-chip>10*6</ion-chip>
        <ion-chip>10*4</ion-chip>
        <ion-chip>8*4</ion-chip>
        <ion-chip>6*4</ion-chip>
        <ion-chip>4*4</ion-chip>
        <ion-chip>2Model</ion-chip></div>
      <div class="ion-padding" slot="content">Sheet - 2Model</div>
      <div class="ion-padding" slot="content">Round Sheet
        <ion-chip>Fan</ion-chip>
        <ion-chip>Dummy</ion-chip>
      </div>
    </ion-accordion>
  </ion-accordion-group>

 
</ion-content>