<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>ASR-Works</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNext()" color="primary" fill="outline">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar show-clear-button="always" value=""></ion-searchbar>

  <ion-accordion-group multiple="true">
    @for(category of uniqueCategories; track category) {
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label>{{ category }}</ion-label>
      </ion-item>
      @for(product of getProductsByCategory(category); track product) {
      <div class="p-10" slot="content">
        {{ product.productName }}
        @if(product?.fileSize?.length) {
        @for(size of product.fileSize; track $index) {
        <ion-chip class="ms-5">{{ size }}</ion-chip>
        }
        }
      </div>
      }
    </ion-accordion>
    }
  </ion-accordion-group>


</ion-content>